#newNotification{
	position:absolute;
	top: 0;
	left: 0;
	z-index:10;
	width: 500px;
	height: 300px;
	background: #fff;
	border: 1px solid #999;
	box-shadow: 1px 1px 15px hsla(0,21%,60%,.6); 
	border-radius: 5px;
	display: none;
}
#newNotification form > input{
	margin-left: 15px;
}
#newNotification table{
	margin: 16px;
}
.pop-title{
	font-family: "Microsoft YaHei";
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	padding: 5px;
	background: rgb(248,248,248);
	border-radius: 3px 3px 0 0;
}
